In [1]:
import pandas as pd

#파일 불러오기
dong = pd.read_csv('D:/Ella/project/202012_주민등록인구및세대현황_서울특별시(동별).csv', encoding='EUC-KR' )
dong.head(10)

#행정동코드별 동만 나타내기 
dong = dong[['행정동코드', '시군구별', '동별 ']]
#결측치 처리
dong_drop = dong.dropna()

In [2]:
dong_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 2 to 450
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동코드   425 non-null    int64
 1   시군구별    425 non-null    object
 2   동별      425 non-null    object
dtypes: int64(1), object(2)
memory usage: 13.3+ KB

In [21]:
land = pd.read_csv('D:/Ella/project/토지면적.csv ')
land.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1207 entries, 0 to 1206
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   YEAR        1207 non-null   int64
 1   행정동코드       1207 non-null   int64
 2   AREA        1207 non-null   float64
 3   MAP_LEVEL   1207 non-null   int64
 4   행정명         1207 non-null   object
 5   시군구         1204 non-null   object
 6   행정동         1138 non-null   object
 7   Unnamed: 7  220 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 75.6+ KB

In [22]:
#행정명이 '서울별시인 행만 출력하기'

land = land[land['행정명']=='서울특별시']
land.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 449
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   YEAR        450 non-null    int64
 1   행정동코드       450 non-null    int64
 2   AREA        450 non-null    float64
 3   MAP_LEVEL   450 non-null    int64
 4   행정명         450 non-null    object
 5   시군구         449 non-null    object
 6   행정동         424 non-null    object
 7   Unnamed: 7  0 non-null      object
dtypes: float64(1), int64(3), object(4)
memory usage: 31.6+ KB

In [29]:
land.head()

   YEAR    행정동코드    AREA  MAP_LEVEL    행정명  시군구    행정동 Unnamed: 7
0  2019  1100000  605.24          1  서울특별시  NaN    NaN        NaN
1  2019  1101000   23.91          5  서울특별시  종로구    NaN        NaN
2  2019  1101072    2.57          4  서울특별시  종로구  청운효자동        NaN
3  2019  1101053    1.23          4  서울특별시  종로구    사직동        NaN
4  2019  1101054    1.49          4  서울특별시  종로구    삼청동        NaN

In [34]:
land[land['행정명']=='경기도']

Empty DataFrame
Columns: [YEAR, 행정동코드, AREA, MAP_LEVEL, 행정명, 시군구, 행정동, Unnamed: 7]
Index: []

In [39]:
# land.isnull().sum()
# land = land.drop('Unnamed: 7', axis =1)
land.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 449
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   YEAR       450 non-null    int64
 1   행정동코드      450 non-null    int64
 2   AREA       450 non-null    float64
 3   MAP_LEVEL  450 non-null    int64
 4   행정명        450 non-null    object
 5   시군구        449 non-null    object
 6   행정동        424 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 28.1+ KB

In [44]:
 
#결측지 제거 
land = land.dropna()

land.isnull().sum()

YEAR         0
행정동코드        0
AREA         0
MAP_LEVEL    0
행정명          0
시군구          0
행정동          0
dtype: int64

In [45]:
land.head()

   YEAR    행정동코드  AREA  MAP_LEVEL    행정명  시군구    행정동
2  2019  1101072  2.57          4  서울특별시  종로구  청운효자동
3  2019  1101053  1.23          4  서울특별시  종로구    사직동
4  2019  1101054  1.49          4  서울특별시  종로구    삼청동
5  2019  1101055  2.27          4  서울특별시  종로구    부암동
6  2019  1101056  8.87          4  서울특별시  종로구    평창동

In [47]:
land.to_csv('D:/Ella/project/seoul_면적(동별)_final.csv')

In [4]:
import pandas as pd
df = pd.read_csv('D:/Ella/project/seoul_면적(동별)_final.csv')
df.to_excel('D:/Ella/project/seoul_면적(동별)_final.xlsx')

In [13]:
df = pd.read_excel('D:/Ella/project/seoul_면적(동별)_final.xlsx')
df.head()

   Unnamed: 0  YEAR    행정동코드  AREA  MAP_LEVEL    행정명  시군구    행정동
0           0  2019  1101072  2.57          4  서울특별시  종로구  청운효자동
1           1  2019  1101053  1.23          4  서울특별시  종로구    사직동
2           2  2019  1101054  1.49          4  서울특별시  종로구    삼청동
3           3  2019  1101055  2.27          4  서울특별시  종로구    부암동
4           4  2019  1101056  8.87          4  서울특별시  종로구    평창동

In [14]:
df = df.drop('Unnamed: 0',axis=1)
df.head()

   YEAR    행정동코드  AREA  MAP_LEVEL    행정명  시군구    행정동
0  2019  1101072  2.57          4  서울특별시  종로구  청운효자동
1  2019  1101053  1.23          4  서울특별시  종로구    사직동
2  2019  1101054  1.49          4  서울특별시  종로구    삼청동
3  2019  1101055  2.27          4  서울특별시  종로구    부암동
4  2019  1101056  8.87          4  서울특별시  종로구    평창동

In [15]:
df['시군구명'] = df['시군구']
df['동명'] = df['행정동']

In [16]:
#숫자가 있는 동명 변경하기 
import re
change_name = df['동명']
change_dong = []
for name in change_name:
    first = re.compile('[0-9,·$]+').sub("", name) #[0-9,·$]빼고 출력됨 
    # re.compile('[가-힣]+').findall(text)   #['신사', '동']

    change_dong.append(first)

In [17]:
df['동명'] =change_dong

In [18]:
df.head()

   YEAR    행정동코드  AREA  MAP_LEVEL    행정명  시군구    행정동 시군구명     동명
0  2019  1101072  2.57          4  서울특별시  종로구  청운효자동  종로구  청운효자동
1  2019  1101053  1.23          4  서울특별시  종로구    사직동  종로구    사직동
2  2019  1101054  1.49          4  서울특별시  종로구    삼청동  종로구    삼청동
3  2019  1101055  2.27          4  서울특별시  종로구    부암동  종로구    부암동
4  2019  1101056  8.87          4  서울특별시  종로구    평창동  종로구    평창동

In [19]:
df.to_csv('D:/Ella/project/seoul_면적(동별)_홍민지_v1.0.csv', index=False)

In [ ]:
# 데이터 타입변경 float -> int()
import pandas as pd 

code = land['행정동코드'] 
codes = []
for i in code:
    int = pd.to_numeric(i)
    codes.append(int)

codes