In [34]:
import pandas as pd
final= pd.read_excel('G:/프로젝트/hospitalv9.xlsx')
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17767 entries, 0 to 17766
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    17767 non-null  object
 1   addr    17767 non-null  object
 2   시군구명    17767 non-null  object
 3   동명      17767 non-null  object
dtypes: object(4)
memory usage: 555.3+ KB

In [35]:
final.head()

              name             addr 시군구명    동명
0  대한산업보건협회부설 서울의원    서울금천구디지털로9길56   금천구  가산동
1      하늘마음한의원 금천점      서울금천구벚꽃로286   금천구  가산동
2    서울아산다온재활의학과의원     서울금천구디지털로200   금천구  가산동
3           가산안과의원  서울금천구가산디지털1로168   금천구  가산동
4            홀인원의원      서울금천구벚꽃로298   금천구  가산동

In [36]:
final.columns

Index(['name', 'addr', '시군구명 ', '동명'], dtype='object')

In [37]:
hosp_group = final.groupby(['시군구명 ', '동명'])['name'].count()
hospt_goup_df = pd.DataFrame(hosp_group)

In [38]:
hospt_goup_df = hospt_goup_df.reset_index()
hospt_goup_df.head()

  시군구명    동명  name
0   강남구  개포동    70
1   강남구  논현동   365
2   강남구  대치동   284
3   강남구  도곡동   143
4   강남구  삼성동   176

In [44]:
hospt_goup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시군구명    233 non-null    object
 1   동명      233 non-null    object
 2   name    233 non-null    int64
 3   행정구역    233 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.4+ KB

In [40]:
hospt_goup_df['행정구역'] = hospt_goup_df['시군구명 '] + hospt_goup_df['동명']

In [41]:
#동명과 비교해보기 
area = pd.read_csv('C:/Users/hongm/Downloads/seoul_면적(동별)_v2.2.csv')
area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   행정구역     233 non-null    object
 1   시군구명     233 non-null    object
 2   동명       233 non-null    object
 3   면적(Km2)  233 non-null    float64
dtypes: float64(1), object(3)
memory usage: 7.4+ KB

In [42]:
add = pd.merge(hospt_goup_df,area, how='left', on= '행정구역',)
add.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233 entries, 0 to 232
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구명     233 non-null    object
 1   동명_x     233 non-null    object
 2   name     233 non-null    int64
 3   행정구역     233 non-null    object
 4   시군구명     233 non-null    object
 5   동명_y     233 non-null    object
 6   면적(Km2)  233 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 14.6+ KB

In [43]:
add.loc[add.isnull()["동명_y"]]

Empty DataFrame
Columns: [시군구명 , 동명_x, name, 행정구역, 시군구명, 동명_y, 면적(Km2)]
Index: []

In [45]:
#동명 233개 일치함으로, 최종 그룹한것 저장해주기 .

hospt_goup_df.to_csv('G:/프로젝트/hospital_Group_v5.0.csv', index= False)

In [46]:
hospt_goup_df.to_excel('G:/프로젝트/hospital_Group_v5.0.xlsx', index= False)